<h2 class="pollHeads">Best Visual Effects Nominees <span class="numVotes"></span></h2>
<div class="catGroup" id="bestVisuals" data-head-category="Best Visual Effects">
<% json.oscarnoms.forEach(function(item, i) { %>
  <% if(item.Category == "Best Visual Effects") { %>
  <div class="entry" data-id="<%= item.Title %><%= item.Category %><%= item.Actor %>" data-title="<%= item.Title %>" data-category="<%= item.Category %>" data-actor="<%= item.Actor %>">
    <% if(item.crit_pics) { %>
      <div class="crit_pics">
        <div class="center"><i class="fas fa-film"></i>Critic's Prediction</div>
      </div>
    <% } %>

    <div class="cardInfo">
      <div class="title" data-item-title="<%= item.Title %>"><%= item.Title %></div>

      <div class="knockout"><div class="perVotes"></div><span class="percentSign">%</span></div>
    </div>
  </div>
  <% } %>
<% }) %>
</div>
