@import "seattletimes";

@img-width: 150px;
@img-width-margin: (@img-width + 5);
@mobileTablet: ~"(max-width: 959px)";

.marketing--sidebar {
  max-width: 100%;
  font-size: 0px;
  background-color: #e8e8e8;

  .image {
    width: 33%;
    max-width: 400px;
    display: inline-block;
    vertical-align: middle;
    @media @mobile {
      width: 90%;
      margin: auto;
    }
  }
  .review-text {
    display: inline-block;
    width: 66%;
    vertical-align: middle;
    padding: 10px;
    @media @mobile {
      width: 100%;
      margin: auto;
    }
  }
}

.review {

  .label {
    font-family: 'Bebas Neue', cursive;
  }

  .head {
    font-family: @df-serif;
  }
  button {
    display: block;
    margin: auto;
  }
}

.data-source {
  @media @mobile { display: block; }
}

.spacer {
  padding-top: 3em;
  border-bottom: 1px solid #ededed;
  margin-bottom: 3em;

  @media @mobileTablet {
    padding-top: 1em;
    margin-bottom: 1em;
  }
}


.jump {
  max-width: 960px;
  margin: auto;
  padding: 0 5px;
  text-align: center;

  .jumpBox {
    font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
    background-color: @df-blue;
    color: white;
    padding: 3px 5px;
    display: inline-block;
    margin: 2px 1px;
  }
}

.numVotes {
  display: inline-block;
  float: right;
  font-weight: normal;
}

.publish-date { padding: 0 5px 0 5px; margin: 10px auto 10px auto; text-align: center; }

.graphic-hed {
  font-size: 30px;

  @media @mobileTablet {
    padding: 0 5px 0 5px;
  }
}
.graphic-chatter {
  max-width: 960px;
  margin: auto;
  padding: 0 5px 0 5px;
}

.nom-holder {
  max-width: 960px;
  margin: auto;

  h2 {
    border-bottom: 3px solid black;
    font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
    // padding: 0 10px;
    @media @mobileTablet {
      margin-bottom: 5px;
    }
  }

  .catGroup {
    // margin-bottom: 5em;
    // clear: both;
    // height: 50vh;
    min-height: inherit;

    .entry {
      // clear: both;
      width: 100%;
      // display: inline-block;
      margin-bottom: 10px;
      vertical-align: top;
      // padding: 5px;
      border: 1px solid #aaa;
      background-color: white;
      transition: background-color .3s ease-in-out;
      &.darken { background-color: rgba(0, 0, 0, 0.2); opacity: 0.9; }
      // transition: background 0.4s, box-shadow 0.4s;

      @media @mobileTablet {
        margin-bottom: 5px;
      }



      // @media @mobileTablet {
      //   width: 49%;
      // }
    }
  }

  // .entry.voted {
  //   border: 3px solid @df-blue;
  // }
}

.entry {
  font-family: sans-serif;
  padding: 10px;
  position: relative;
  overflow: hidden;
  // height: 90px;

  // For the Bar Charts
  // background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, #fdce77));
  // background-image: linear-gradient(180deg, transparent 0%, #fdce77 0%);
  // background-size: 0 100%;
  // background-repeat: no-repeat;
  // -webkit-transition: background-size 0.7s;
  // transition: background-size 0.7s;
  // -webkit-transition-delay: 0.25s;
  // transition-delay: 0.25s;


  .cardInfo {
    // position: absolute;
    // top: 25%;
    //
    // @media @mobileTablet {
    //   top: 22%;
    // }
  }

  .title {
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 1.4em;
    line-height: 1.2em;
    // font-family: 'Bowlby One SC', cursive;
    @media @mobileTablet {
      font-size: 18px;
      line-height: 1.2em;
    }
  }

  .inTitle {
    font-style: italic;
    line-height: 0.9em;
  }

  .crit_pics {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    background-color: goldenrod;
    display: none;
    font-family: 'Bebas Neue', cursive;
    width: 100px;
    height: 100%;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    top: 0%;
    right: 190px;
    // transform: translateY(-50%);

    .center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: auto;
    }


    // content: "";
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // width: 50%;
    // background: goldenrod;
    // transform: skew(-30deg);
    // transform-origin: top;
    // z-index: -1;


    @media @mobileTablet {
      font-size: 14px;
    }

    i { margin-right: 5px; }
  }
}

.title.justTitle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.entry:hover {
  cursor: pointer;
  // transform: scale(1.05);
  z-index: 5;
}

// .voted { background-color: @df-blue; }

.youVote {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: white;
  font-family: 'Bebas Neue', cursive;
  background-color: @df-blue;
  width: 100px;
  height: 100%;
  text-align: center;
  letter-spacing: 1px;
  position: absolute;
  top: 0%;
  right: 85px;
  // transform: translateY(-50%);

  .center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
  }

  // content: "";
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // width: 50%;
  // background: @df-blue;
  // transform: skew(-30deg);
  // transform-origin: top;
  // z-index: -1;

  @media @mobileTablet {
    font-size: 14px;
  }

  i { margin-right: 5px; }
}

  .knockout{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    .perVotes {
      font-size: 2.5em;
      font-weight: bold;
      line-height: 0.9em;
      font-family: 'Bebas Neue', cursive;
      color: black;
      display: inline;
      // font-family: 'Bowlby One SC', cursive;

      @media @mobileTablet {
        font-size: 3.5em;
      }
     }

     .percentSign {
       font-size: 0.9em;
       vertical-align: top;
       opacity: 0;
       &.show {
         opacity: 1;
       }

     }


    // &.voted {
    //   color: @df-blue;
    // }

  }
